/*
* @Author: Marte
* @Date:   2018-02-06 15:46:32
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-09 12:28:00
*/
.Search .lbutton {
    float: left;
    height: 45px;
    line-height: 45px;
    font-size: 1.5rem;
    text-align: center;
    width: 19%;
    border-right: 1px solid #e8e8e8;}

.Search .rinput .inputer {
    display: block;
    border: none;
    padding: 10px 0;
    height: 25px;
    line-height: 25px;
    color: #333333;
    width: 59%;
    margin: 0 0 0 5%;
    font-size: 1.5rem;
    float: left;
}
.Search .linputer{
    height: 45px;
    border-bottom: 1px solid #e8e8e8;
}
.Search  .rinput .search {
    display: inline-block;
    width: 12%;
    height: 43px;
    margin-right: 1px;
    line-height: 43px;
    float: right;
    position: relative;
    color:gray;

 background: white;
    border:none;
    outline: none;
    margin-top: 1px;

}
.Search  .rinput .search:active{
background:#f0f0f0;
color:#00b38a;;
}
.Search  .rinput .search .iconfont{
    font-size:1.8rem;

}
.Search .header{
    z-index: 99;
}

.Search .header .iconfont{font-size:2rem;}
.Search .header span{
    position:absolute;
    left:10px;
}
.Search .lbutton {


    overflow: hidden;
}
